{% load static %}
 {% block nav_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"/> 
 {% endblock  %}
<nav class="navbar">
  <a href="{% url 'home' %}" class="nav-logo">
    <img src="{% static 'images/logo.jpg' %}" alt="Logo" />
    Hanif Khan
  </a>

  <ul class="nav-links">
    <li>
      <a
        href="{% url 'home' %}"
        class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="{% url 'about' %}"
        class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}"
        >About</a
      >
    </li>
  
    <li>
      <a
        href="{% url 'contact' %}"
        class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
        >Contact</a
      >
    </li>
  </ul>


</nav>
